<header class="p-0 navbar
    "><nav class="navbar text-bg-light navbar-index bg-body-tertiary bg-body-tertiary">
        <div class="container">
            <a class="navbar-brand text-center fw-bold " href="/homepage">Tech Blog Feed</a>
             <div class="m-0 navbar d-inline flex-inline flex-row-reverse" id="navbarNav">
          <ul class="d-flex flex-wrap flex-row navbar-nav flex-inline">
            <li class=" px-1 nav-item">
              <a class="nav-link active" aria-current="page" href="/homepage">Home</a>
            </li>
                    {{#if logged_in}} 
                                <li class=" px-1 nav-item">
              <a class="nav-link" href="/dashboard">Dashboard</a>
            </li>
            <li class=" px-1 nav-item">
              <a class="nav-link" href="/newblog">New Post</a>
            </li>
                        <li class=" px-1 nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
                         {{else}}
            <li class=" px-1 nav-item">
              <a class="nav-link" href="/login">Log In</a>
            </li>
            <li class=" px-1 nav-item">
              <a class="nav-link" href="/signup">Sign Up</a>
            </li>
              {{/if}}
          </ul>
        </div>
        </div>
    </nav>
    </header>