<section class="group-blogs p-5 m-5">
  {{#unless blogs }}
  <h4 class="text-center h1 fw-bold mb-2 mx-1 mx-md-4 mt-1" style="color: white;" >Your blogs will show here</h4>
  {{else}}
  {{> blog}}
  {{/unless}}
</section>

