<section class="m-5 p-5" >
  <div class="container">
    <div class="row d-flex m-5 p-5 justify-content-center">
      <div class="card ">
        <div class="card-body">
          <h5 class="m-4">New Blog</h5>
          <div style="background-color: #f8f9fa;">
            <div class="form-group m-2">
              <input
                type="email"
                class="form-control"
                id="new-blog-title"
                aria-describedby="emailHelp"
                placeholder="Title"
              />
            </div>
            <div class="d-flex flex-start m-2 w-70">
              <div class="form-outline w-100">
                <textarea
                  class="form-control"
                  id="new-blog-content"
                  rows="4"
                  style="background: #fff;"
                  placeholder="Content of the new blog"
                ></textarea>
              </div>
            </div>
            <div class="float-end m-2 pt-1">
              <button
                type="button"
                id="new-blog-btn"
                class="btn btn-primary btn-sm"
              >Post </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>