<section class="container-fluid d-flex justify-content-center  bg-body-tertiary text-body-tertiary">
  <div class="row m-5 p-5">
    <div class="m-auto col-lg-8 d-flex justify-content-center align-self-centerr">
      <div class="col-lg-8 col-md-10 col-sm-10 col-xs-12">
        <div class="card text-black no-radius-border">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-12 d-flex   col-lg-12 col-xl-12 order-2 order-lg-1">
                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4  text-body-tertiary">Sign up</p>
<form class="mx-1 mx-md-4 bg-tertiary text-body-tertiary" style="display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap:16px!important;">
                                  <div class="form-floating w-100">
      <input type="text" class="form-control " id="first_name" placeholder="Firstname">
      <label for="floatingInput">First Name</label>
    </div>
<div class="form-floating w-100">
      <input type="text" class="form-control" id="last_name" placeholder="Lastname">
      <label for="floatingInput">Last Name</label>
    </div>

                  
                  <div class="form-floating w-100">
      <input type="email" class="form-control" id="email" placeholder="name@example.com">
      <label for="floatingInput">Email address</label>
    </div>
                  <div class="form-floating w-100">
      <input type="password" class="form-control" id="password" placeholder="name@example.com">
      <label for="floatingInput">Password</label>
    </div>
                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4  text-body-tertiary">
                    <button type="button" id="register" class="btn text-tertiary btn-outline-secondary btn-lg">Register</button>
                  </div>
                </form>
                              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>