
/* This is a CSS code that defines styles for different elements in a webpage. */
.back-color {
background-color: rgb(157, 156, 156);
}

.navbar-index {
    z-index: 1;
    top: 0px;
    width: 100vw;
}
.radius-border {
    border-radius: 15px;
}

.navigationTags{
    text-decoration: none;
    color: black;
}